* {
	box-sizing: border-box;
}

body {
	font-family: LeferiPoint-BlackA;
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
		format('woff');
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-weight: normal;
	font-style: normal;
}

.header, .footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

.container {
	width: 66%;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
	color: #333;
	margin-bottom: 40px;
}

.preview-img {
  width: 100px;
  height: 100px;
}

form {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
	margin-bottom: 8px;
	font-weight: bold;
	color: #666;
}

input, select, textarea {
	margin-bottom: 20px;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="submit"] {
	background-color: #1565c0;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	margin-bottom: 0;
}

input[type="submit"]:hover {
	background-color: #1976d2;
}
.side-menu-form {
   /*  flex:1.8 0 0; */ /* 회원 정보 조회 portion을 늘림 */
    /* display: flex; */
    flex-direction: column;
    background-color: #fff;
    /* padding: 40px; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.side-menu {
  display: flex;
  flex-wrap: nowrap;
}

.side-menu-nav {
  flex:0.4 0 0; /* 사이드메뉴 portion을 유지함 */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 20px;
}

.side-menu-nav li {
  margin-bottom: 10px;
}

.side-menu-nav a {
  text-decoration: none;
  color: #333;
}

.side-menu-nav a:hover {
  color: #1565c0;
}
