@charset "UTF-8";

.modal-content {
	background-color: white;
	border-radius: 5px;
}

.modal-header {
	background-color: white;
	color: black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: black;
}

.modal-footer {
	background-color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.modal-footer button {
	border-color: white;
}

.modal-footer button.btn-primary {
	background-color: white;
	border-color: #2463D3;
	color: black;
}

.modal-footer button.btn-primary:hover {
	background-color: #2463D3;
	color: white;
}

.modal-footer button.btn-secondary {
	background-color: white;
	border-color: #2463D3;
	color: black;
}

.modal-footer button.btn-secondary:hover {
	background-color: #2463D3;
	color: white;
}

.modal-body input.form-control {
	/* border: none; */
	border: 1px solid #A5A5A5;
	border-radius: 20px;
}

.form-group label {
	font-weight: 700;
	font-size: 1.2em;
}

    .input-container {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .input-field {
      padding-right: 40px;
    }

    .input-button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-radius: 0 20px 20px 0;
    }